# 변수

In [1]:
12340 * 1/2

6170.0

In [7]:
12340 * 1/4

3085.0

In [8]:
12340 * 1/5

2468.0

In [2]:
abc = 12340

In [3]:
type(abc)

int

In [4]:
print(abc * 1/2)

6170.0

In [5]:
print(abc * 1/4)

3085.0

In [6]:
print(abc * 1/5)

2468.0

# 문자열

In [9]:
print("String Test")

String Test

In [10]:
print('String Test')

String Test

In [11]:
string1 = "String Test 1"
string2 = 'String Test 2'
print(string1)
print(string2)

String Test 1
String Test 2

In [13]:
print(type(string1))
print(type(string2))

<class 'str'>
<class 'str'>

In [14]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [17]:
long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")와 작은따옴표(')도 입력할 수 있다.
'''
long_string2 = """[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")와 작은따옴표(')도 입력할 수 있다.
"""
print(long_string1)
print(long_string2)
#  주석...
#  둘줄 주석
'''
첫줄 주석
둘줄 주석
세줄 주석
'''

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")와 작은따옴표(')도 입력할 수 있다.

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")와 작은따옴표(')도 입력할 수 있다.

'\n첫줄 주석\n둘줄 주석\n세줄 주석\n'

# 문자열 다루기

In [19]:
a = 'Enjoy '
b = 'python!'
c = a + b
print(c)

Enjoy python!

In [20]:
print(a * 3)

Enjoy Enjoy Enjoy

In [21]:
type(a)

str

# 리스트

In [22]:
# 리스트 만들기: []  cf. 튜플(), 딕셔너리{key:value}, 세트 등...
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90, 95, 85, 80
student1 = [90,95,85,80]
type(student1)

list

In [23]:
print(student1)

[90, 95, 85, 80]

In [24]:
print(student1[0])

90

In [25]:
print(student1[2])

85

In [27]:
print(student1[-1])
print(student1[-2])

80
85

In [29]:
student1[1] = 100
print(student1)

[90, 100, 85, 80]

In [32]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

In [33]:
print(myFriends[-1])

Mary

In [34]:
mixedList = [0, 2, 3.14, 'python', 'program', True, myFriends]
print(mixedList)

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [35]:
# 리스트 다루기
# 리스트 더하기와 곱하기
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
list_con = list_con1 * 3
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [42]:
# 리스트 중 일부 항목 가져오기
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [43]:
# 리스트에서 항목 삭제하기
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [45]:
# 리스트에서 항목의 존재 여부 확인하기
list_data1 = [1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [46]:
# 리스트 메소드 활용하기
myFirends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFirends)

['James', 'Robert', 'Lisa', 'Mary']

In [47]:
myFirends.append('Thomas')
print(myFirends)

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [51]:
myFirends.insert(1, 'Paul')
print(myFirends)

['James', 'Paul', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [52]:
myFirends.extend(['Laur', 'Betty'])
print(myFirends)

['James', 'Paul', 'Paul', 'Robert', 'Lisa', 'Mary', 'Thomas', 'Laur', 'Betty']

# 튜플

In [56]:
tuple5 = (1,2,3,4)
type(tuple5)

tuple

In [58]:
tuple5[1]

2

In [57]:
tuple5[1] = 5  # 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [62]:
tuple2 = 5,6,7,8
type(tuple2)

tuple

In [61]:
print(tuple2)

(5, 6, 7, 8)

In [63]:
tuple3 = 9
type(tuple3)

int

In [65]:
tuple3 = 9,
type(tuple3)

tuple

In [66]:
# 튜플 다루기

In [67]:
tuple5 = (1,2,3,4)
tuple5[1] = 5

TypeError: 'tuple' object does not support item assignment

In [68]:
del tuple5[1]

TypeError: 'tuple' object doesn't support item deletion

In [79]:
# tuple지우기: tuple -> list 변환 후 해당자료를 삭제 -> tuple 변환
tuple5 = (1,2,3,4)
print(tuple5)
list6 = list(tuple5)
print(type(list6))
del list6[1]
print(tuple(list6))

(1, 2, 3, 4)
<class 'list'>
(1, 3, 4)

In [81]:
tuple6 =('a', 'b', 'c', 'd', 'e', 'f')
tuple6.index('c')

2

In [82]:
tuple7 = ('a', 'b', 'a', 'd', 'e', 'f')
tuple7.count('a')

2

# 세트

In [83]:
# 세트 만들기; {}
set1 = {1,2,3}
set1a = {1,2,3,4}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3, 4}

In [84]:
type(set1)

set

In [89]:
# 세트의 교집합, 합집합, 차집합 구하기
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
print(A.intersection(B))  # 교집합
print(A & B)

{4, 5}
{4, 5}

In [90]:
print(A.union(B)) # 합집합
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [91]:
print(A.difference(B)) # 차집합
print(A-B)

{1, 2, 3}
{1, 2, 3}

In [92]:
# 리스트, 튜플, 세트 간 타입 변환
a = [1,2,3,4,5]
type(a)

list

In [95]:
b = tuple(a)  # 리스트 -> 튜플
print(type(b))
print(b)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [96]:
c = set(a)  # 리스트 -> 세트
print(type(c))
print(c)

<class 'set'>
{1, 2, 3, 4, 5}

# 딕셔너리

In [14]:
# 딕셔너리 만들기: {key:value}
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른"}
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른'}

In [15]:
type(country_capital)

dict

In [16]:
country_capital["영국"]

'런던'

In [17]:
dict_data1 = {1:"버스", 3:"비행기", 4:"택시", 5:"자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [18]:
dict_data1[3]

'비행기'

In [19]:
mixed_dict = {1:10, 'dict_num':{1:10, 2:20}, "dict_list_tuple": {'A':[11,12,13],
            'B':(21,23,23), "dict_string":"이것은 책입니다."}}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13],
  'B': (21, 23, 23),
  'dict_string': '이것은 책입니다.'}}

In [20]:
# 딕셔너리 다루기
country_capital["독일"]="베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '독일': '베를린'}

In [21]:
country_capital["호주"]="캔버리"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버리', '독일': '베를린'}

In [22]:
# 딕셔너리에서 데이터 삭제하기
del country_capital['호주']
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '독일': '베를린'}

In [23]:
# 딕셔너리 메소드 활용하기
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [24]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [25]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [26]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [27]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [28]:
print(fruit_code.items())
print(list(fruit_code.items()))

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])
[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [29]:
fruit_code2 = {"오랜지":106, "수박":107}

In [30]:
print(fruit_code)

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105}

In [31]:
fruit_code.update(fruit_code2)
print(fruit_code)

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오랜지': 106, '수박': 107}

In [32]:
fruit_code2.clear()
print(fruit_code2)

{}

In [33]:
type(fruit_code2)

dict